.square {
  position: relative;
  border: 1px solid #387693;
  background-color: #5dc6f6;
  box-sizing: content-box;
}

.circle {
  position: absolute;
  background-color: #f65ddd;
  border-radius: 50%;
  border: 1px solid #d749bf;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.point {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

.shapes-container {
  width: 'fit-content';
  display: flex;
  justify-content: center;
  gap: 16px;
}

body,
#root {
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.calculation {
  max-width: 720px;
  width: 100%;
  min-width: fit-content;
  height: 512px;

}

.left-container {
  width: fit-content;
  text-align: center;
  padding: 20px;
  height: 512px;
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
  }

  .calculation {
    margin-top: 16px;
    max-width: 560px;
    width: 100%;
    flex: 1;
    height: fit-content;
  }

  .left-container {
    padding: 0px;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
  }

  #root .left-container .ant-card-body {
    padding: 16px 8px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    flex-direction: column;
  }

  .calculation {
    margin-top: 16px;
    max-width: 560px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}